@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Roboto+Slab&family=Roboto:ital,wght@0,100;1,100&family=Ubuntu:ital,wght@1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Roboto', sans-serif;
}
/* -----------
 header point started 
---------------- */
.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  50px 0;
}
.header-point{
    display: flex;
    width:  80%;
   border-radius: 20px;
    background-color: black ;
}
.header-title {
    width: 531px;
    height: 424px;
    margin-top: 70px;
    margin-left:  50px;
}
.header-title h1 {
     font-size:  4rem;
     color: rgb(252, 252, 252);
}
.header-title p {
    font-weight: 400;
    margin:  20px 0;
    font-size:  1.1em;
    line-height: 1.1em;
    color: rgb(199, 185, 185);
    padding-bottom: 20px;
}
.header-title a {
    text-decoration:  none;
    background-color: #DD0000;
    padding:  10px 15px;
    color:  rgb(228, 220, 220);
    border-radius: 5px;
}
.header-img img{
        width: 500px;
}
/* -----------
 header point ended
---------------- */

/* ---------
section part started
------------- */
.main-container{
    width: 80%;
    margin:  0px auto;
    margin-top:  100px;
}
.container{
    display: grid;
    grid-template-columns:  20% 80%;
}
.heading-part{
    display: block;
    padding:  15px;
    background-color: rgb(19, 19, 22);
    height: 230px;
    margin-right: 10px;
    border-radius: 10px;
}
.heading-part div{
    border:  1px solid black;
    text-align: center;
    margin-bottom:  20px;
    background-color: rgb(241, 241, 241);
    padding: 15px 0px;
    border-radius: 10px;
}
.header-part div #other-color{
    background-color: #DD0000;
}
.heading-part div a {
    text-decoration:  none;
    color: rgb(22, 20, 20);
    font-size:  1.2em;
    font-weight: 600;
}
.all-news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 20px;
}
.news{
    border: 1px solid rgb(194, 182, 182);
    border-radius: 10px;
}
.news .blogs img{
    width: 100%;
}
.news .blogs .transfer{
     border:  1px solid  rgb(41, 38, 38);
     width:  30%;
     text-align: center;
     margin-left:  20px;
     margin-top: 20px;
     margin-bottom: 10px;
     padding: 5px;
     font-weight: 500;

}
.news .blogs h3 {
    margin-left:  20px;
    margin-bottom:  20px;
}
.news .blogs .comment{
    display: flex;
    width:  40%;
    justify-content: space-between;
    margin: 10px 20px;
}
.news .blogs .comment p i{
            margin-right: 3px;
}
/* ---------
section part ended
------------- */